/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Roboto:400,500");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.contenedor {
  width: 80%;
  margin: auto; }

a {
  text-transform: uppercase;
  color: black;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }

header .cajagrande {
  margin-top: 40px; }
  header .cajagrande .nav1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto; }
    header .cajagrande .nav1 ul {
      display: flex;
      align-items: center; }
      header .cajagrande .nav1 ul li {
        color: black; }
        header .cajagrande .nav1 ul li a {
          color: black;
          text-transform: uppercase;
          font-size: 13px;
          padding: 5px;
          box-sizing: border-box; }
    header .cajagrande .nav1 a img {
      width: 200px;
      height: 70px; }
  header .cajagrande .nav2 {
    padding: 30px 0;
    box-sizing: border-box;
    width: 60%;
    margin: auto; }
    header .cajagrande .nav2 .menu {
      display: flex;
      justify-content: space-around; }
      header .cajagrande .nav2 .menu li .btn-link {
        font-weight: 400;
        color: black;
        font-family: "Roboto", sans-serif; }
      header .cajagrande .nav2 .menu .prueba {
        display: flex;
        align-items: center; }
        header .cajagrande .nav2 .menu .prueba a {
          text-transform: capitalize;
          color: black; }
header .slider div .carousel-inner .item img {
  width: 100%;
  height: auto; }
header .slider div .carousel-inner .item .carousel-caption {
  bottom: 240px;
  text-shadow: none; }
  header .slider div .carousel-inner .item .carousel-caption h6, header .slider div .carousel-inner .item .carousel-caption p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400; }
  header .slider div .carousel-inner .item .carousel-caption h3 {
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px; }

.statments {
  margin: 45px 0; }
  .statments div {
    padding: 40px 0;
    box-sizing: border-box;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    width: 80%;
    margin: auto; }
    .statments div article {
      box-sizing: border-box;
      display: inline-block;
      width: 48.8%;
      background-image: url(../imagenes/foto1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 233px;
      text-align: center; }
      .statments div article a {
        display: inline-block;
        font-family: "Fjalla One", sans-serif;
        padding-top: 107px;
        color: white;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 18px; }
      .statments div article:last-child {
        background-image: url(../imagenes/foto2.jpg);
        margin-left: 20px; }

.articulos {
  width: 80%;
  margin: auto;
  text-align: center; }
  .articulos h3 {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: grey; }
  .articulos div article {
    display: inline-block;
    width: 24%; }
    .articulos div article a img {
      width: 100%;
      height: auto; }
    .articulos div article h6 {
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      letter-spacing: 1px;
      color: #466C7E; }
    .articulos div article span {
      font-family: "Fjalla One", sans-serif;
      text-transform: uppercase;
      font-size: 17px; }
    .articulos div article p {
      padding-top: 5px;
      font-family: "Roboto", sans-serif; }
    .articulos div article #lastboton {
      display: inline-block;
      padding: 5px;
      box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
